/*applies a rule*/
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background: lightslategray;
    transition: background 6s,
                font-size .5s;
}
.container {
    max-width: 1100px;
    margin: 20px auto;
}
header, .left, .center, .right, footer, .mobile-banner {
    border: 1px solid;
    padding: 20px;
}
header, footer {
    text-align: center;
}
header {
    margin-bottom: 10px;
}
footer {
    margin-top: 10px;
}
.mobile-banner {
    margin-bottom:10px;
    background: mediumslateblue;
    display:none;
}
main {
    display:flex;
    gap: 10px;
}
.center {
    width: 60%;
}
.left, .right {
    width: 20%;
}

@media screen and (max-width:900px) {
    body {
        background: cornflowerblue;
    }

    main {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .left {
        width: 100%;
    }
    .center, .right {
        width:calc(50% - 5px);
    }
}

@media screen and (max-width: 600px) {
    body {
        background: honeydew;
        font-size: 130%;
    }
}
    .center, .right {
    width: 100%;
}
    .mobile-banner {
        display:block;
    }