body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f2cfeb; 
    color: #333; 
    margin: 2em;
    line-height: 1.6;
}


h1 {
    font-size: 40px;
    color: #4b2e83; 
    margin-bottom: 0.2em;
}

h2, h3, h4 {
    color: #7b4ca0; 
    margin-top: 0;
}


p {
    max-width: 700px;
}


.special {
    font-size: 1.2em;
    color: #c95f5f; 
    font-weight: bold;
}

.mono {
    font-family: 'Courier New', monospace;
    background: #eee;
    padding: 1em;
    border-radius: 5px;
}


a {
    color: #133a60;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


ul, ol {
    margin-left: 1.5em;
}

details {
    margin-top: 1em;
    padding: 1em;
    background-color: #f0e9ff;
    border-radius: 5px;
    max-width: 400px;
}


img {
    width: 300px;
    margin: 10px;
}