body {
    font-family: 'Helvetica', light, sans-serif;
    background-color: #103a5d; 
    color: #333; 
    margin: 2em;
    line-height: 1.6;
}


h1, h2, h3 {
    color: #94a1d5; 
    margin-bottom: 0.2em;
}
hr, body {
    color: #94a1d5;
}
img {
    width: 650px;
    height: 200px;
}