/*applies a rule*/
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.margin-center {
    background-color: honeydew;
    padding: 10px;
    max-width: 600px;
    margin:10px auto;
}
.translate-center {
    background-color: lavender;
    padding: 10px;
    width:600px;
    max-width:100%;

    position: relative;
    left: 50%;
   translate: -50%;
}
.container {
    background: lightblue;
    padding: 10px;
    display:flex;
    flex-direction: column;
    /* the flex direction determines the main and cross xis directions, which changes how our alignment properties work */
    justify-content:center;
    height:400px;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    /* align-content is used for multi-line, wrapping flexboxes */
    /* align items is used for single line flexboxes */
}
.item {
    background: bisque;
    padding:10px;
    border:1px solid;
    width: 200px;
}